body {
    margin: auto;
    width: 80%;
    /*border: 3px solid green;*/
    padding: 10px;
    background-color:#1a0000;
    
}

#title {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.information {
    
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}



#video {
    margin: 10px ;
}

div.scrollmenu {
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #0d0d0d;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #1a1a1a;
    border-radius: 5px;
  }

footer{
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding-top: 1px;
    text-align: center;
    height: 50px;
    background-color: #330000;   
}
